
<div class="row">
    <div class="column">
        <app-etat-produit></app-etat-produit>
    </div>
    
    <div class="column" >
        <app-topboutique-enstock></app-topboutique-enstock>
    </div>
</div>


<div class="row">
    <div class="column" >
        
        <button class="button-44" (click)="openTempDialogMax()">Quantité maximale</button>

        <ng-template #dialogRef let-mydata>
            <div>
                <mat-dialog-content>
            
          <table>
            <thead class="thead-dark">
              <tr>
                <th scope="col">Quantité</th>
                <th scope="col">Produit</th>
                <th scope="col">Boutique</th>
              </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let elt of  mydata" >
                    <td> {{ elt.qte}}</td>
                    <td> {{ elt.produit }}</td>
                    <td> {{ elt.boutique}}</td>
                </tr>
               
              
            </tbody>
            </table>
        </mat-dialog-content>

          <button id="fermer-butt"mat-button >Fermer</button>
        </div>
        </ng-template>
    </div>
    <div class="column">
        <button class="button-44" mat-button (click)="openTempDialogMin()">Quantité minimale</button>

        <ng-template #dialogRef let-mydata>
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Quantité</th>
                <th scope="col">Produit</th>
                <th scope="col">Boutique</th>
              </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let elt of  mydata" >
                    <td> {{ elt.qte}}</td>
                    <td> {{ elt.produit }}</td>
                    <td> {{ elt.boutique}}</td>
                </tr>
               
              
            </tbody>
            </table>
          <button id="fermer-butt" mat-button >Fermer</button>
        </ng-template>
    </div>
</div>

<div class="row">
    <div class="column" >
        <app-vente-pardist></app-vente-pardist>
    </div>
    </div>

<app-footer></app-footer>