<div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <img src="../assets/images/logo_ooredoo.png" alt="logo Ooredoo">
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/admin" class="nav-link" routerLink="admin">Tableau de bord Admin</a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/admin" class="nav-link" routerLink="GestUsers">Gérer utilisateur</a>
        </li>
        <li class="nav-item" *ngIf="showAgentBoard">
          <a href="/agent" class="nav-link" routerLink="agent">Tableau de bord Agent</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">S'inscrire</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Se connecter</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        
        <li class="nav-item">
          <a href class="nav-link" routerLink="login" (click)="logout()">Se déconnecter</a>
        </li>
      </ul>
    </nav>

        <router-outlet></router-outlet>
    </div>
